insmod all_video
insmod part_msdos
insmod part_gpt
insmod fat
insmod ext2
insmod iso9660

set default=0
set timeout=5

menuentry "SysInfo Live - Auto Collect & Shutdown" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage quiet loglevel=3 autologin
    initrd /boot/initramfs-lts
}

menuentry "SysInfo Live - Verbose Boot (Debug)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage loglevel=4
    initrd /boot/initramfs-lts
}

menuentry "Boot from local disk" {
    exit
}
